# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
collected_sources.txt
test_epub_detailed
test_epub_detailed.c
scanner.log
*.log
*.db
book_scanner
www/quick_check.php
*.user
www/all_code.txt
www/collect_php.sh
scanner/collect_sourcess.sh
www/.htaccess
www/collect_php_recurce.sh
www/config/.env
www/config/config.ini
